<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/templates/sb_head %>
</head>

<body>
  <% include partials/templates/sb_nav%>
  

    <% include partials/templates/sb_jsdefaults %>
</body>

</html>