<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include partials/templates/head %>
</head>

<body>
<% include partials/templates/nav %>
  <% include partials/templates/navbar %>
  <% include partials/templates/header %>
  
    <% include partials/templates/footer %>
    <% include partials/templates/jsdefaults %>
</body>

</html>